{% extends "base.html" %}{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    
{% endblock %}

{% block ms-navigation-system %}{% endblock %}

{% block ul-system %}block{% endblock %}

{% block navigation_checkpoint %}active md-accent-bg{% endblock %}

{% block content %}
    <div id="widgets" style="height:100%">
        <div class="widget-group layout-wrap layout-row flex-100" style="height:100%">
            <ms-widge class="ms-widget ng-isolate-scope layout-row flex-gt-md-100 flex-100">
                <ms-widget-front class="white-bg ms-widget-front ng-scope" style="height:100%">
                    <div id="map-container" style="width:100%;height:100%"></div>
                </ms-widget-front>
            </ms-widge>
        </div>
        <script>
            var data = [
                {% for line in data %}
                    {% verbatim %} { {% endverbatim %}
                        name:'{{ line.name }}',
                        value:{{ line.value }}
                    {% verbatim %} } {% endverbatim %}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
        </script>
        <script type="text/javascript" src="/static/js/dist/map.js?v=3b96acafe5"></script>
    </div>
    
{% endblock %}

